/* font  */
/* font-family: 'Lato', sans-serif; */

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

/* helper class */
.m0 {
    margin: 0;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
}

.clear-float {
    clear: both;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

/* HERO SECTION  */

#hero {
    background-image: url("../img/hero-bg.png");
    color: #fff;
    background-position: center;
    background-size: cover;
    height: 745px;

}

header {
    padding-top: 60px;
}

.container {
    max-width: 1163px;
    margin: 0 auto;
    padding: 0 20px;
}


.container nav ul li {
    display: inline;
}

.container nav ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 13px;
    margin-right: 56px;
    text-transform: uppercase;
    transition: 0.3s;
}

.container nav ul li a:hover {
    font-weight: 700;
    color: #000;
    transition: 0.3s;
}

.cta {
    margin-top: 177px;
    text-align: center;
}

.cta h1 {
    font-size: 65px;
    line-height: 70px;

}

.cta h2 {
    margin: 30px 0 90px 0;
    font-size: 33px;
}

.btn-more {
    color: #fff;
    padding: 20px 54px;
    border: 1px solid #ffffff;
    border-radius: 57px;
    font-size: 18px;
    transition: 0.3s;
}

.btn-more:hover {
    background: #fff;
    color: #7147a5;
    transition: 0.3s;
    font-size: 20px;
}

/* FEATURE SECTION */

#feature {
    padding: 125px 0;
}

.feature-headding {
    width: 50%;
}

.feature-headding h2 {

    color: #e1e1e1;

    font-size: 127px;
    line-height: 132px;
    font-weight: 700;
    text-transform: uppercase;
}

.do {
    display: block;
}

.feature-detail {
    width: 50%;
}

.large-icons {
    padding-right: 45px;
}

.li-feature {
    margin-bottom: 50px;
}

.li-feature h3 {
    font-size: 20px;
    margin-bottom: 35px;
}

.li-feature p {
    margin-left: 100px;
    font-size: 14px;
    line-height: 20px;
}

/* SERVICIES */

#services {
    background-image: linear-gradient(to right, rgba(247, 247, 247, 1), rgba(247, 247, 247, 0)), url(../img/service-bg.png);
    background-size: 818px 694px;
    background-position: right;
    background-repeat: no-repeat;

    background-color: rgb(247, 247, 247);


    padding: 159px 0;
}

.service {
    width: 60%;

}

.service h2 {
    font-size: 50px;
    font-weight: 300;
    color: #503392;
}

.service p {

    width: 60%;
    font-size: 18px;
    line-height: 28px;
    margin: 55px 0;

}

.righ-arrow {
    margin-left: 4px;
}

.btn-chat {
    padding: 20px;
    background-color: #503392;
    color: #fff;
    transition: 0.3s;
}

.btn-chat:hover {
    border: solid 4px #503392;
    padding: 16px;
    color: #503392;
    background-color: #ffffff;
    transition: 0.3s;
}

.btn-chat img {
    margin-left: 15px;
}

/* Portforlio section */
#portfolio {
    padding: 153px 0;
}

#portfolio h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#portfolio p {
    text-align: center;
    margin-top: 30px;
}

.ul-portforlio {
    margin: 60px 0 50px 0;
    text-align: center;
}

.ul-portforlio li {
    display: inline-block;
}

.ul-portforlio li a {
    padding: 20px 30px;
    border: 3px solid #000000;
    margin-right: 10px;
    transition: 0.3s;
}
.ul-portforlio li a:hover {
    color: #fff;
    border: 3px solid #503392;
    background-color: #503392;
    transition: 0.3s;
}

.galary{
    width: 100%;
    
}

.row{
    width: 100%;
}
.col-4-port{
    width: 25%;
    float: left;
    margin-bottom: 15px;
}