/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* General rules */
body {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

/* helper classes */
.left-align {
    float: left;
}

.right-align {
    float: right;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

#hero-section {
    background-image: url("../img/hero-bg.png");
    height: 100vh;
    background-size: cover;

}

.container {
    min-width: 1165px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    padding-top: 60px;
}

.navbar ul li {
    display: inline-block
}

.navbar ul li a {
    font-size: 18px;
    color: #ffffff;
    margin-right: 55px;
    text-transform: uppercase;
    transition: 0.3s;
}

.navbar ul li a:hover {
    font-weight: 700;
    color: #000;
    transition: 0.3s;
}

.cta {
    margin-top: 190px;
    text-align: center;
    color: #ffffff;
}

.cta h1 {
    font-size: 65px;
    font-weight: 400;
}

.cta h2 {
    font-size: 33px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 90px;
}

.btn-more {
    font-size: 18px;
    color: #ffffff;
    border: solid #ffffff 1px;
    padding: 20px 30px;
    border-radius: 55px;
    transition: 0.3s;
}

.btn-more:hover {
    padding: 25px 35px;
    transition: 0.3s;
}

/* feture section */
#feature-section {
    padding-top: 128px;
    padding-bottom: 140px;
    height: 100vh;
}

.feature-title {
    font-weight: 700;
    font-size: 127px;
    color: #e1e1e1;
    text-transform: uppercase;
    width: 32%;
}



.feature-title h2 {
    padding-top: 60px;
}
.feature-detail {
    width: 40%;
}
.li-feature h3{
font-size: 20px;
font-weight: 700;
padding-bottom: 35px;
}

.big-icon{
    padding-right: 45px;
}
.li-feature p{
    padding-left: 108px;
    margin-bottom: 60px;
}